body,
* {
  font-family: "Manrope", sans-serif;
}

* {
  scroll-behavior: smooth;
}

.hero-background {
  background-image: url("../images/hero-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grade1 {
  background: linear-gradient(276.83deg, #20e3b7 10.2%, #22a6ec 90.93%);
}

.mint-container {
  border-radius: 16px;
  border: 1px solid rgba(231, 234, 255, 0.08);
  background: rgba(231, 234, 255, 0.08);
}

.mint-button {
  background-image: linear-gradient(to right, #22a6ec, #20e3b7);
}

.shd1 {
  box-shadow: 0px 32px 200px 0px #000000;
}

.drop-f {
  backdrop-filter: blur(3px);
}
